@import "@primer/primitives/dist/scss/colors/_light.scss";
@import "@primer/primitives/dist/scss/colors/_dark.scss";

body {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  text-rendering: auto;
}
body.bp5-dark {
  background-color: var(--color-canvas-default);
  color: var(--color-fg-default);
}

:root {
  --font-weight-bold: 600;
}

:root[data-theme="light"] {
  @include primer-colors-light();
}
:root[data-theme="dark"] {
  @include primer-colors-dark();
}
